<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WCMOrdering.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="Wcmilk.co.uk.outbound1-uk.mailanyone.net" />
        <!--<network host="WCM-EXE-EXCH01"/>-->
        <!--network host="WCMC-SBS" />-->
      </smtp>
    </mailSettings>
  </system.net>
  <applicationSettings>
    <WCMOrdering.My.MySettings>
      <setting name="SQLServer" serializeAs="String">
        <value>WCM-SQL01</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>dairy_sales</value>
      </setting>
      <setting name="PWD" serializeAs="String">
        <value>N3xu505WcM!</value>
      </setting>
      <setting name="DBUser" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="Email_Success" serializeAs="String">
        <value>orders@wcmilk.co.uk</value>
      </setting>
      <setting name="GLN_WCM" serializeAs="String">
        <value>5013546152459</value>
      </setting>
      <setting name="OrderTo" serializeAs="String">
        <value>orders@wcmilk.co.uk</value>
      </setting>
      <setting name="orderfrom" serializeAs="String">
        <value>orders@wcmilk.co.uk</value>
      </setting>
      <setting name="Email_Error" serializeAs="String">
        <value>orders@wcmilk.co.uk</value>
      </setting>
      <setting name="TimerInterval" serializeAs="String">
        <value>100000</value>
      </setting>
      <setting name="WarningInterval_6to10" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="WarningInterval_11to18" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="WarningInterval_19to5" serializeAs="String">
        <value>360</value>
      </setting>
      <setting name="WarningInterval_weekend" serializeAs="String">
        <value>720</value>
      </setting>
      <setting name="Switch_Bourne" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="BOURNE_IN" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Bourne Leisure Live\orders</value>
      </setting>
      <setting name="BOURNE_Failed" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Bourne Leisure Live\orders\Failed Orders</value>
      </setting>
      <setting name="BOURNE_Archive" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Bourne Leisure Live\orders\Processed Orders</value>
      </setting>
      <setting name="BOURNE_IN_test" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Bourne Leisure Test\orders</value>
      </setting>
      <setting name="BOURNE_Failed_test" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Bourne Leisure Test\orders\Failed Orders</value>
      </setting>
      <setting name="BOURNE_Archive_test" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Bourne Leisure Test\orders\Processed Orders</value>
      </setting>
      <setting name="Switch_CN_CrunchTime" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CN_CrunchTime_Archived_Test" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Crunchtime!\CaffeNero\Test\Processed</value>
      </setting>
      <setting name="CN_CrunchTime_IN_test" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Crunchtime!\CaffeNero\Test</value>
      </setting>
      <setting name="CN_CrunchTime_Failed_test" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Crunchtime!\CaffeNero\Test\Failed</value>
      </setting>
      <setting name="CN_CrunchTime_OUT_test" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Crunchtime!\CaffeNero\Test\Response</value>
      </setting>
      <setting name="CN_CrunchTime_RESPONSE_Archived_test" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Crunchtime!\CaffeNero\Test\Response_Archive</value>
      </setting>
      <setting name="CN_CrunchTime_IN" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Crunchtime!\CaffeNero</value>
      </setting>
      <setting name="CN_CrunchTime_Archive" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Crunchtime!\CaffeNero\Processed</value>
      </setting>
      <setting name="CN_CrunchTime_Failed" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Crunchtime!\CaffeNero\Failed</value>
      </setting>
      <setting name="CN_CrunchTime_OUT" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Crunchtime!\CaffeNero\Response</value>
      </setting>
      <setting name="CN_CrunchTime_RESPONSE_Archived" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Crunchtime!\CaffeNero\Response_Archive</value>
      </setting>
      <setting name="Switch_FoodBuyOnline" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="FoodBuyOnline_IN" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\FoodBuy_Online\ORDERS</value>
      </setting>
      <setting name="FoodBuyOnline_OUT" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\FoodBuy_Online\ORDERS\Responses</value>
      </setting>
      <setting name="FoodBuyOnline_Failed" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\FoodBuy_Online\ORDERS\Failed_Orders</value>
      </setting>
      <setting name="FoodBuyOnline_Archive" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\FoodBuy_Online\ORDERS\Processed_Orders</value>
      </setting>
      <setting name="FoodBuyOnline_IN_test" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\FoodBuy_Online\ORDERS</value>
      </setting>
      <setting name="FoodBuyOnline_Failed_test" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\FoodBuy_Online\ORDERS\Failed_Orders</value>
      </setting>
      <setting name="FoodBuyOnline_Archive_test" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\FoodBuy_Online\ORDERS\Processed_Orders</value>
      </setting>
      <setting name="Switch_Interserve_Saffron" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GLN_INTERSERVE" serializeAs="String">
        <value>5060642190021</value>
      </setting>
      <setting name="INTERSERVE_IN_SAFFRON" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\INTERSERVE\ORDER_IN_SAFFRON</value>
      </setting>
      <setting name="INTERSERVE_Failed_SAFFRON" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\INTERSERVE\ORDER_IN_SAFFRON\Failed</value>
      </setting>
      <setting name="INTERSERVE_Archive_SAFFRON" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\INTERSERVE\ORDER_IN_SAFFRON\Processed</value>
      </setting>
      <setting name="INTERSERVE_IN_test_SAFFRON" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\INTERSERVE\ORDER_IN_TEST_SAFFRON</value>
      </setting>
      <setting name="INTERSERVE_Failed_test_SAFFRON" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\INTERSERVE\ORDER_IN_TEST_SAFFRON\Failed</value>
      </setting>
      <setting name="INTERSERVE_Archive_test_SAFFRON" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\INTERSERVE\ORDER_IN_TEST_SAFFRON\Processed</value>
      </setting>
      <setting name="INTERSERVE_OUT_SAFFRON" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\INTERSERVE\ASN_SAFFRON</value>
      </setting>
      <setting name="INTERSERVE_RESPONSE_ARCHIVED_SAFFRON" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\INTERSERVE\ASN_SAFFRON\Processed</value>
      </setting>
      <setting name="INTERSERVE_OUT_test_SAFFRON" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\INTERSERVE\ASN_Test_SAFFRON</value>
      </setting>
      <setting name="INTERSERVE_RESPONSE_ARCHIVED_test_SAFFRON" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\INTERSERVE\ASN_Test_SAFFRON\Processed</value>
      </setting>
      <setting name="Switch_Grahams" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Grahams_SUPPL_ID" serializeAs="String">
        <value>1158</value>
      </setting>
      <setting name="Grahams_OUT" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Grahamsdairies\Live\ORDERS</value>
      </setting>
      <setting name="Grahams_ARCHIVE" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Grahamsdairies\Live\ORDERS\Processed</value>
      </setting>
      <setting name="Switch_DN_Grahams" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DN_Grahams_IN" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\WCM_DN\Grahams</value>
      </setting>
      <setting name="DN_Grahams_Archive" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\WCM_DN\Grahams\Processed</value>
      </setting>
      <setting name="DN_Grahams_Failed" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\WCM_DN\Grahams\Failed</value>
      </setting>
      <setting name="Switch_JJWilson" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="JJWilson_Orders" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\JJWilson_Orders</value>
      </setting>
      <setting name="JJWilson_Archived" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\JJWilson_Orders\Archived</value>
      </setting>
      <setting name="JJWilson_Email" serializeAs="String">
        <value>service@jjwilsonltd.com</value>
      </setting>
      <setting name="Switch_DairyData_MillsMilk" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MillsMilk_SUPPL_ID" serializeAs="String">
        <value>226047140</value>
      </setting>
      <setting name="DairyData_MillsMilk_OUT" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\DairyData\MillsMilk</value>
      </setting>
      <setting name="DairyData_MillsMilk_ARCHIVE" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\DairyData\MillsMilk\Archive</value>
      </setting>
      <setting name="Switch_AllanReeder" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="AllanReeder_OUT" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\AllanReeder_Orders</value>
      </setting>
      <setting name="AllanReeder_ARCHIVE" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\AllanReeder_Orders\Archive</value>
      </setting>
      <setting name="Switch_Paynes" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Paynes_SUPPL_ID" serializeAs="String">
        <value>240305512</value>
      </setting>
      <setting name="Paynes_OUT" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Paynes_Orders</value>
      </setting>
      <setting name="Switch_Johal" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Johal_SUPPL_ID" serializeAs="String">
        <value>1188</value>
      </setting>
      <setting name="Johal_OUT" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Johal_Orders</value>
      </setting>
      <setting name="Johal_ARCHIVE" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Johal_Orders\Archive</value>
      </setting>
      <setting name="Switch_PushEmailP2P" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Switch_PushEmailWebApp" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Switch_Broadland" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Broadland_SUPPL_ID" serializeAs="String">
        <value>118867089</value>
      </setting>
      <setting name="Broadland_OUT" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Broadland_Orders</value>
      </setting>
      <setting name="AllanReeder_Summary_Email" serializeAs="String">
        <value>HeidiReeder@allanreederltd.co.uk;frances@allanreederltd.co.uk;Info@allanreederltd.co.uk</value>
      </setting>
      <setting name="BOURNE_RESPONSE_ARCHIVED" serializeAs="String">
        <value />
      </setting>
      <setting name="BOURNE_RESPONSE_ARCHIVED_test" serializeAs="String">
        <value />
      </setting>
      <setting name="BOURNE_OUT" serializeAs="String">
        <value />
      </setting>
      <setting name="BOURNE_OUT_test" serializeAs="String">
        <value />
      </setting>
      <setting name="Johal_Order_Email" serializeAs="String">
        <value>edi@johaldairies.co.uk</value>
      </setting>
      <setting name="AllanReeder_SUPPL_ID" serializeAs="String">
        <value>127695324</value>
      </setting>
      <setting name="Paynes_Archived" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\Paynes_Orders\Archive</value>
      </setting>
    </WCMOrdering.My.MySettings>
  </applicationSettings>
</configuration>
